certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.1
idna==3.18
lxml==6.1.1
pycparser==3.0
pyopenssl==26.2.0
requests==2.34.2
setuptools==82.0.1
typing-extensions==4.15.0
urllib3==2.7.0

