vcf_fleet_lcm==9.1.1.0
vcf_log_mgmt==9.1.1.0
vcf_nsx==9.1.1.0
vcf_operations_networks==9.1.1.0
vcf_operations==9.1.1.0
vcf_sddc_lcm==9.1.1.0
vcf_sdk==9.1.1.0
vmware_sddc_manager==9.1.1.0
vmware_vapi_common_client==9.1.1.0
vmware_vapi_runtime==9.1.1.0
vmware_vcenter==9.1.1.0
vcf_installer==9.1.1.0
vmware_vsan_data_protection==9.1.1.0
vcf_vsphere_utils==9.1.1.0
pyvmomi==9.1.1.0

